<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>列表排序</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <h3>人员列表</h3>
    <div id="root">
        <input type="text" v-model="keyWords" placeholder="请输入名字">
        <button @click="sortType = 1">年龄升序</button>
        <button @click="sortType = -1">年龄降序</button>
        <button @click="sortType = 0">原顺序</button>
        <ul>
            <li v-for="p in filPersons" :key="p.id">
                {{p.name}}-{{p.age}}-{{p.sex}}
                <input type="text" name="" id="">
            </li>
        </ul>
    </div>

    <script>
        Vue.config.productionTip = false

        new Vue({
            el: '#root',
            data: {
                persons: [
                    { 'id': '001', name: '马冬梅', age: 19, sex: '女' },
                    { 'id': '002', name: '周冬雨', age: 18, sex: '女' },
                    { 'id': '003', name: '周杰伦', age: 21, sex: '男' },
                    { 'id': '004', name: '温兆伦', age: 22, sex: '男' }
                ],
                keyWords: '',
                sortType: '' //0原顺序 1升序 -1降序
            },
            computed: {
                filPersons() {
                    let arr = this.persons.filter((p) => {
                        return p.name.indexOf(this.keyWords) > -1
                    })
                    if (this.sortType) {
                        arr.sort((a, b) => {
                            return this.sortType == 1 ? a.age - b.age : b.age - a.age
                        })
                    }

                    return arr
                }
            },
        })
    </script>
</body>

</html>